/* .login_div {
  position: absolute;
  width: 350px;
  height: 460px;
  font-family: "Kurale", serif;
  font-family: "Spline Sans Mono", monospace;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -175px;
}
.error {
  font-size: 12px;
}
.login_form {
  width: 350px;
  height: 450px;
  font-family: "Kurale", serif;
  font-family: "Spline Sans Mono", monospace;
  background: white;
  border-radius: 10px;
  margin: 0;
  padding: 0;
} */
