.shippingDetails{
    width:100%;
    height: auto;
    border-radius:5px;
    word-break: break-all;
}
.descriptionText{
    font-size: 22px;
}
.shippingDetailsTable{
    width:100%;
    height: auto;
    border-radius:5px;
}
.checkOutDiv{
    height: 40vh;

}
.placeOrderBtn{
    background-color: black;
    width: 80%;
    height: 7vh;
    color: white;
}
.placeOrderBtn:hover{
    background-color: #66A500;
}